#root {
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  width: min(650px, calc(100% - 24px));
  text-align: center;
  margin-bottom: 72px;
}

.title {
  max-width: 577px;
  margin: 0 auto;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.subtitle {
  max-width: 641px;
  margin: 0 auto;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.form {
  width: min(810px, calc(100% - 24px));
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  padding: 32px;
}

.form-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
}

.form-item label {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.01em;
}

.form-item input,
.form-item select,
.form-item textarea {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.01em;
}

.form button {
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01em;
}

.full-width-item {
  grid-column: 1/-1;
}

@media (max-width: 600px) {
  .title {
    font-size: 40px;
  }

  .subtitle {
    font-size: 16px;
  }

  .form {
    grid-template-columns: 1fr;
    padding: 20px 12px;
  }
}
